<?xml version="1.0" encoding="UTF-8"?>
<launch>
<group ns="X1">
  <node pkg="ground_finder" type="traversability_mapping" name="traversability_mapping" output="screen">
  	<!-- <remap from="octomap_binary" to="merged_map"/> -->
	<remap from="octomap_binary" to="octomap_binary"/>
	<remap from="edt" to="edt"/>

  	<!-- Params -->
  	<param name="update_rate" value="1.0"/>
  	<param name="min_cluster_size" value="50"/>
    <!-- 0.95 filters out stairs in the EC Basement -->
  	<param name="normal_z_threshold" value="0.92"/>
	<param name="sensor_range" value="7.0"/>
  </node>
</group>
</launch>