<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node pkg="ground_finder" type="traversability_mapping" name="traversability_mapping">
  	<!-- <remap from="octomap_binary" to="merged_map"/> -->
	<remap from="octomap_binary" to="octomap_binary"/>
	<remap from="edt" to="edt"/>

	<!-- Params -->
	<param name="update_rate" value="2.0"/>
	<param name="min_cluster_size" value="50"/>
	<!-- 0.95 filters out stairs in the EC Basement -->
	<param name="normal_z_threshold" value="0.5"/>
	<param name="sensor_range" value="5.0"/>
	<param name="truncation_distance" value = "3.0"/>
	<param name="full_map_ticks" value = "120"/>
	<!-- <param name="bbx_xy" value="8.0"/> -->
	<!-- <param name="bbx_z" value ="3.0"/> -->
  </node>
</launch>